version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./data:/app/data
    restart: unless-stopped
